@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Source Sans', Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

h1 {
    font-family: 'Angkor', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #053541;
}

h2 {
    font-family: 'Angkor', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFFFFF;  
}

h3 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 107.69%; 
    color: #000000; 
}

h4 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 107.69%;
    color: #053541;   
}

h5 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 107.69%;
    color: #000000;
}

.price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 107.69%;
    text-align: right; 
}

    
img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.logo {
    width: 67.08px;
    height: 36px;
}

header {
    display: flex;
    width: 100%;
    padding-left: 27px;
    padding-top: 44px;
    align-items: center;
    gap: 10px;
}

.search-box {
    width: 200px;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #053541;
    border-radius: 5px;
}
nav {
    display: flex;
    margin-left: 25px;
  }
  
  nav ul {
    display: flex;
    padding: 0px 30px;
  }

  nav li {
    display: inline-block;
  }

.main-nav {
    display: none
}

nav  {
    position: absolute;
    background: white;
    color: black;
    left: 0px;
}


nav a {
    display: block;
    color: black;
    padding: 10px 30px;
    font-size: 1rem;
}


.cart-icon, .hamburger-icon {
    width: 26px;
    height: 26px;

}

#menu-checkbox:checked ~.main-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    width: 310px;
    top: 70px;
    height: 351px;
    background: #FFFFFF;
    background: #fff;
    box-shadow: 1px 1px 1px 1px #ccc;
    font-family: 'Source sans';
    font-weight: 300;
    color: black;

}

.close-btn-wrapper {
    display: flex;
    justify-content: flex-end;
}


#menu-checkbox {
    display: none;
}

a {
    text-decoration: none;
}
header a {
    color: white;
    padding: 10px;
}

header {
    position: relative;
    background: white;
    color: #053541;
    padding: 10px;
    font-size: 1,5rem;
}

footer {
    color: white;
    background-color: #053541;
    display: grid;
}

.cta-white {
  background-color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration-line: none;
  color: #053541; 
  text-transform: uppercase; 
  padding: 15px 30px;
  border-radius: 5px;
}

.cta-blue {
    background-color: #053541;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration-line: none;
    color: white; 
    text-transform: uppercase; 
    padding: 10px 25px;
    border-radius: 3px;
  }
.cta-green {
    background-color: #0F8E2B;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration-line: none;
    color: white; 
    text-transform: uppercase; 
    padding: 10px 100px;
    border-radius: 5px;  
}


/* Home page */

.welcome {
    background-image: url("../images/front_page_image_large.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    min-height: 50vh;
    position: relative;
}

.welcome__content {
    color: #fff;
    position: absolute;
    text-align: end;
    top: 100px;
    left: 100px;
      }
.white-text {
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
}
.white_text-small{
    color: #fff;
    font-size: 2rem;   
}

.categories_womens {
    background-image: url("../images/womens_coats_small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    min-height: 50vh;
    position: relative;
}

.categories_mens {
    background-image: url("../images/mens_coats-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    min-height: 50vh;
    position: relative; 
}


/* About page */

/* Contact page */
.form-input {
    border: 1 px solid #D2CDCA
}

.contact_info {
    font-family: 'Source Sans'Verdana, Geneva, Tahoma, sans-serif;
    display: block;
}

.form-wrapper {
    display: flex;
}

.form-wrapper > * {
    flex: 1;
    display: flex;
    flex-direction: column;
}


/**
Media queries 
*/

@media (min-width: 756px) {
    header {
        display: grid;
        grid-template-areas:
            "logo box cart"
            "nav nav nav";
        margin-bottom: 20px;
    }

    .hamburger-icon {
        display: none;
    }

    .main-nav {
        display: flex;
        width: 100%;
        grid-area: nav;
       
    }

    .close-btn-wrapper {
        display: none;
    }

    ul {
        list-style: none;
        width: 100%;
        display: flex;
    }

    ul li a{
        display: flex;
        padding-top: 20px;
        text-decoration: none;
        font-family: 'Source Sans Pro';
        color: #fff;
        background-color: #053541;
    }

    .welcome {
        background-image: url("../images/front_page_image_small.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        min-height: 70vh;
        position: relative;
    }
footer {
    display: grid;
    grid-template-areas:
        "contact  numbers follow";
}

/* Contact page */
.form-input {
    border: 1 px solid #D2CDCA
}

.contact_info {
    font-family: 'Sourcece Sans';
    display: block;

}
.form-wrapper {
    display: flex;
    flex-direction: column;
}
}