@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.logo {
    width: 67.08px;
    height: 36px;
}


h1 {
    font-family: 'Angkor', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #053541;
}

h2 {
    font-family: 'Angkor', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #053541;
}


.logo {
    width: 67.08px;
    height: 36px;
}

header {
    display: flex;
    width: 100%;
    padding-left: 27px;
    padding-top: 44px;
    align-items: center;
    gap: 10px;
}

.search-box {
    width: 200px;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #053541;
    border-radius: 5px;
}

.main-nav {
    display: none
}

.cart-icon, .hamburger-icon {
    width: 26px;
    height: 26px;

}

#menu-checkbox:checked ~.main-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    width: 310px;
    top: 70px;
    height: 351px;
    background: #FFFFFF;
    background: #fff;
    box-shadow: 1px 1px 1px 1px #ccc;
    font-family: 'Source sans';
    font-weight: 300;
    color: black;

}

.close-btn-wrapper {
    display: flex;
    justify-content: flex-end;
}


#menu-checkbox {
    display: none;
}

/* Links */
a {
    text-decoration: none;
}
header a {
    color: white;
    padding: 10px;
}

header {
    position: relative;
    background: white;
    color: #053541;
    padding: 10px;
    font-size: 1,5rem;
}


nav  {
    position: absolute;
    background: white;
    color: black;
    left: 0px;
}


nav a {
    display: block;
    color: black;
    padding: 10px 30px;
    font-size: 1rem;
}


  footer {
    color: white;
    background-color: #053541;
}

.cta-white {
  background-color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration-line: none;
  color: #053541; 
  text-transform: uppercase; 
  padding: 10px 25px;
  border-radius: 3px;
}

.cta-blue {
    background-color: #053541;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration-line: none;
    color: white; 
    text-transform: uppercase; 
    padding: 10px 25px;
    border-radius: 3px;
  }

/* Contact page */
.form-input {
    border: 1 px solid #D2CDCA
}

.contact_info {
    font-family: 'Sourcece Sans';
    display: block;

}
.form-wraapper {
    display: flex;
    flex-direction: column;
}

/**
Media queries 
*/

@media (min-width: 756px) {
    header {
        display: grid;
        grid-template-areas:
            "logo box cart"
            "nav nav nav";
        margin-bottom: 20px;
    }

    .hamburger-icon {
        display: none;
    }

    .main-nav {
        display: flex;
        width: 100%;
        grid-area: nav;
       
    }

    .close-btn-wrapper {
        display: none;
    }

    ul {
        list-style: none;
        width: 100%;
        display: flex;
    }

    ul li a{
        display: flex;
        padding-top: 20px;
        text-decoration: none;
        font-family: 'Source Sans Pro';
        color: #fff;
        background-color: #053541;
    }
}

footer {
    display: grid;
    grid-template-areas:
        "contact  numbers follow";
}