@font-face {
    font-family:'Angkor', sans-serif;
    src: url(<link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Angkor&display=swap" rel="stylesheet">);
}
@font-face {
        font-family: 'Source Sans Pro', sans-serif ;
        src: url(<link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">);
    }

body{
    font-family: 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif;
    color: #053541;
}

h1 {
    font-family: 'Angkor', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #053541;
}

h2 {
    font-family: 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif;
    color: #053541;
}

header {

}

.logo {
    float: left;
    width: 100px;
}

nav  {
    display: none;
}

#menu-checkbox :checked ~ nav {
    display: block;
}


main {
    background-image: url("../images/front_page_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    min-height: 400px;
    width: 70%;

    border-image: url(../images/womens_coats.jpg)
  
  }

  .coats {
    float: right;
    width: 30%;
  }

  footer {
    color: white;
    background-color: #053541;
}

.cta {
  background-color: #053541;
  color: white;  
}

/* Contact page */
.form-input {
    border: 1 px solid #D2CDCA
}